.banner{
  background-image: url("./banner.jpg");
  display:flex;
  justify-content: center;
  align-items:center;
  color:white;
  font-size:24px;
  padding:10px;
}
.hotelsContainer{
  padding-top: 20px;
}
.section1title{
  font-weight: 800;
  padding-bottom: 20px;
}
.hotelCard{
  max-width:100%
}
.media{
  height:300px;
}
.hotelSpec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer{
  margin-top: 20px;
  background-color: #332f2c;
  height:100px;
}
.footerContent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: white;

}
